

/* Start:/local/templates/.default/components/bitrix/news/blog_new/bitrix/news.detail/.default/style.css?1661513361223*/
.intec-template-title{
	display:none!important;
}
.cust-container--mod{
	margin-top:0px!important;
	padding-top:0px!important;
}
.widget-tabs{
	display:none!important;
}
section.cust-sect-content {
	padding:0px!important;
}
/* End */
/* /local/templates/.default/components/bitrix/news/blog_new/bitrix/news.detail/.default/style.css?1661513361223 */
